* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: #040D12
}

.page-container {
  background-image: linear-gradient(to bottom, #5975ff, #0400ff); /* padrão */
  height: 100%;
}

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center-xy {
  justify-content: center;
  align-items: center;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}
