#login-form-container {
  width: 40%;
  background-color: whitesmoke;
  padding: 32px;
  border: 1px solid #e0e0e0;
}

#login-form-container h1 {
  font-size: 2.4rem;
  text-align: center;
}

#login-form-container form {
  margin-top: 32px;
}

#login-form-container form input {
  width: 80%;
  margin-bottom: 16px;
  padding: 8px;
  margin-top: 8px;
  font-size: 1.6rem;
}

#login-form-container form button {
  width: 40%;
  padding: 8px 0;
  background-color: #93b1a6;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  border: none;
  transition: background-color ease-in-out 0.2s;
}

#login-form-container form button:hover {
  background-color: #5c8374;
  cursor: pointer;
}
